@model DatabaseDemo.Character

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CharacterStyle.css" rel="stylesheet" />

<div class="characterpage">
    <h2>View Details</h2>
    <div>
        <h4>Character Details</h4>
        <div class="background_color_box">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Element_Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Element_Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Job_Class)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Job_Class)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ATK)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ATK)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DEF)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DEF)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mana)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mana)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HP_Initial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HP_Initial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HP_Max)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HP_Max)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NPC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NPC)
                </dd>

                @if (Model.Maps.Count > 0)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Maps)
                    </dt>
                }

                <dd>
                    @foreach (var map in Model.Maps)
                    {
                        <p>
                            @Html.DisplayFor(modelItem => map.MapName)
                        </p>
                    }
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>